* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #333;
    font-size: 13px;
    margin: 0;
}

input {
    color: white;
    font-size: 13px;
    background-color: #18191A;
}

img {
    max-width: 100%;
}

:focus {
    outline: none;
}

.wrapper {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.inner {
    border-radius: 20px;
    padding: 20px;
    background: #18191A;
    max-width: 850px;
    margin: auto;
    display: flex;
}

.inner img {
    border-radius: 20px;
}

.inner .image-holder {
    width: 50%;
    border-radius: 15px;
}

.inner form {
    width: 50%;
    padding-top: 10px;
    padding-left: 45px;
    padding-right: 45px;
}

.inner h3 {
    color: rgb(255, 204, 0);
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    margin-bottom: 28px;
    margin-top: 20px;
}

.form-group {
    display: flex;
}

.form-group input {
    width: 50%;
}

.form-group input:first-child {
    margin-right: 25px;
}

.form-wrapper {
    position: relative;
}

.form-wrapper i {
    position: absolute;
    bottom: 9px;
    right: 0;
}

.form-control {
    border: 1px solid #333;
    border-top: none;
    border-right: none;
    border-left: none;
    display: block;
    width: 100%;
    height: 30px;
    padding: 0;
    margin-bottom: 25px;
}

.form-button {
    display: flex;
    gap: 1.5rem;
    margin-top: 0;
}

button {
    border: none;
    width: 160px;
    height: 40px;
    margin: auto;
    margin-top: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: rgb(255, 204, 0);
    font-size: 15px;
    color: black;
    font-weight: bolder;
}

button i {
    margin-left: 10px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.form-button button i {
    margin-left: 10px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.form-button .active::before {
    content: '';
    width: 6px;
    height: 100%;
}

.form-button .active:hover {
    color: white;
}

.form-button .choose:hover {
    color: white;
}