<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
<div class="login-clean">
    <form method="post">
        <h2 class="sr-only">Đăng nhập</h2>

        <div class="illustration">
            <i class="icon ion-ios-navigate"></i>
        </div>

        <div class="form-group">
            <input id="username" name="username" type="text" class="form-control" placeholder="Tài khoản" required>
        </div>

        <div class="form-group">
            <input id="password" name="password" type="password" class="form-control" placeholder="Mật khẩu" required>
        </div>

        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Đăng nhập</button>
        </div>

        <div th:if="${error}" class="error">
            <p style="color:red;">[[${error}]]</p>
        </div>
    </form>
</div>
</body>
</html>