<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
    <link rel="stylesheet" href="/css/confirmation.css">
</head>
<body>
<div class="confirmation-container">
    <div class="header">
        <h1>Đặt hàng thành công</h1>
        <div class="confirmation-details">
            <p>Hóa đơn số: <span th:text="${order.id}"></span></p>
            <p>Ngày đặt hàng: <span th:text="${#dates.format(orderDetails[0].orderDate, 'dd-MM-yyyy')}"></span></p>
        </div>
    </div>
    <div class="items-container">
        <hr>
        <div class="item" th:each="detail : ${orderDetails}">
            <span th:text="${detail.product.name} + ' - Số lượng: ' + ${detail.quantity}"></span>
            <span th:text="${detail.getFormattedTotalPrice()}"></span>
        </div>
        <hr>
        <div class="total">
            <span>Tổng tiền:</span>
            <span th:text="${formattedTotalPrice}"></span>
        </div>
    </div>
    <a href="/products" class="continue-shopping">Tiếp tục mua hàng</a>
</div>
</body>
</html>
